/*@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ixofpc');
  src:  url('fonts/icomoon.eot?ixofpc#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ixofpc') format('truetype'),
    url('fonts/icomoon.woff?ixofpc') format('woff'),
    url('fonts/icomoon.svg?ixofpc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.icon-previous2:before {
  content: "\ea23";
}
.icon-next2:before {
  content: "\ea24";
}*/
*{
	margin: 0;
	padding: 0;
}

body {
	background-color: #386598;
	margin: 0px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: hidden;
	cursor: context-menu;
}

.slideShow {
	width: 100%;
	position: relative;
	/*overflow: hidden;*/
}

.slider div {
	display: flex;
	width: 1366px;
}

.left, .rigth {
	position: absolute;
	top: 0;
	height: 100%;
	display: flex;
	align-items: center;
	color: #000;
	font-size: 35px;
	cursor: pointer;
}

.left {
	left: 20px;
}

.rigth {
	right: 20px;
}

.slider {
	display: flex;
	overflow: hidden;
}

.contenedor {
	width: 1366px;
	position: absolute;

}


section {
	width: 430px;
	height: 585px;
	margin: auto;	
}
.portada {
	height: 605px;
	position: absolute;
	margin-top: 10px;
}

.portada section {
	background-color: #ffffff;
}

.portada section img{
	height: 585px;
	position: absolute;
}

h1 {
	display: flex;
	position: absolute;
	left: 0;
	right: 0;
	justify-content: center;
	margin: 0;
	padding: 20px;
	font-size: 32px;
	font-family: 'Merriweather Sans', sans-serif;
}

.portada h1{
 	color: #66cc66;
}

.abajo {
	top: 520px;
}
.opened{
overflow: hidden;
}

.introduccion{
    background: linear-gradient(90deg, #386598, #0066cc 24.61%, #3399cc 81.08%, #ffffcc);
    position: absolute;
    left: 1366px;
    height: 625px;
}

.introduccion section {
	width: 430px;
	margin: auto;
	z-index: 1;
}

.introduccion h1 {
	text-align: center;
	font-size: 31.5px;
	margin: auto;
	width: 400px;
	color: #ffffcc;
}

.introduccion table {
	margin: auto;
	padding-top: 110px;
}

.introduccion tr{
	width: 410px;
	display:block;
}

.introduccion td{
	padding: 10px;
	text-align: justify;
	font-weight: 600;
	color: wheat;
	font-size: 16px;
}

.boton1 {
	display: block;
	margin: auto;
	margin-top: 40px;
	width: 110px;
	height: 30px;
	border-radius: 10px;
	border-color: #ffffcc;
	text-align: center;
	font-size: 20px;
	background-color: transparent;
	cursor: pointer;
}

.leer {
	display: none;
	background-color: #ffffcc;
	width: 390px;
	height: 571px;
	border-radius: 20px;
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
}

.leer span {
	width: 290px;
	display: block;
	margin: auto;
	padding: 20px;
	font-size: 14px;
	font-weight: 600;
	text-align: justify;
	color: #386598;
}

.leer img {
	display: block;
	margin: auto;
}

.cancel img {
	width: 40px;
	margin-left: 260px;
	padding-top: 20px;
	cursor: pointer;
}

.contenido1 {
	background-color: #ffffcc;
	position: absolute;
	left: 2732px;
}

.contenido1 section {
	margin-top: 0;
	width: 430px;
	height: 625px;
}

.contenido1 h1 {
	width: 400px;
	margin: auto;
	text-align: center;
	color: #386598;
}

.contenido1 table {
	width: 400px;
	margin: auto;
	padding: 20px;
	padding-top: 120px;
	text-align: justify;
	font-weight: 600;
	color: #386598;
}

.contenido1 tbody {
	display: flex;
	flex-direction: column;
}

.linea {
	border-bottom: #386598 1px solid;
}

.contenido1 tr {
	padding: 30px 0;
}

.transiciones {
	display: flex;
	justify-content: space-around;
	padding: 0;
	cursor: pointer;
}

.animacion{
	transition: 3s;
	transform: rotate(360deg);
}

.tipos {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 30px;
	margin: auto;
	width: 338px;
	height: 140px;
	background-color: #0064FF;
	border-radius: 100px;
}

.tipos h1 {
	display: none;
	color: black;
	padding: 0;
	font-size: 22px;
	width: 300px;
}

.tipos p {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	padding-top: 45px;
	width: 230px;
	color: black;
	font-family: sans-serif;
	font-size: 13px;	
}

.experencial p {
	font-size: 12.5px;
}